@import "../../style.scss";
    .leftBar{
    background-color: #e5e5e5 !important;
    box-shadow: 0 0px 5px 0px #b2b2b299;
    padding-top: 20px;
    .nav-link{
        color: #000;
        font-weight: 500;
    }
    }